<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>mud-mmorpg</title>  
        <link rel="stylesheet" type="text/css" href="public/css/styles.css">  
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
    </head>
<body>

    <section>
        <div class="game-container"></div>
        <script>
            const config = {
            type: Phaser.AUTO,
            width: 800,
            height: 600,
            zoom: 0, // Since we're working with 16x16 pixel tiles, let's scale up the canvas by 3x
            pixelArt: true, // Force the game to scale images up crisply
            parent: "game-container",
            scene: {
                preload: preload,
                create: create,
                update: update
            }
            };
        
            var game = new Phaser.Game(config);

            function preload() {
                
                this.load.image("tiles", "./public/maps/tmw_desert_spacing.png");
                this.load.tilemapTiledJSON("map", "./public/maps/testmap.json");
            }

            function create() {
                const map = this.make.tilemap({ key: "map" });

                // Parameters are the name you gave the tileset in Tiled and then the key of the tileset image in
                // Phaser's cache (i.e. the name you used in preload)
                const tileset = map.addTilesetImage("Desert", "tiles");

                // Parameters: layer name (or index) from Tiled, tileset, x, y
                const ground = map.createDynamicLayer("Ground", tileset, 0, 0);
                ground.setScale(1); // scale to half
                ground.setOrigin(0,0);

                var camera = this.cameras.main;

                // Set up the arrows to control the camera
                const cursors = this.input.keyboard.createCursorKeys();

                // Constrain the camera so that it isn't allowed to move outside the width/height of tilemap
                camera.setBounds(0, 0, map.widthInPixels, map.heightInPixels);
                camera.scrollX = 450;
                camera.scrollY = 450;

                // Help text that has a "fixed" position on the screen
                this.add
                    .text(16, 16, "Map preview. Arrow keys to move", {
                    font: "18px monospace",
                    fill: "#ffffff",
                    padding: { x: 20, y: 10 },
                    backgroundColor: "#000000"
                    })
                    .setScrollFactor(0);   

                this.input.keyboard.on('keydown_UP', function () {
                    if(camera.scrollX == 450){
                        if(camera.scrollY != 888){
                            camera.pan(850, 0, 2000, 'Power2');
                        } else {
                            camera.pan(850, 750, 2000, 'Power2');
                        }
                    }
                });
                this.input.keyboard.on('keydown_LEFT', function () {
                    if(camera.scrollY == 450){
                        if(camera.scrollX != 874){
                            camera.pan(0, 750, 2000, 'Power2');
                        } else {
                            camera.pan(850, 750, 2000, 'Power2');
                        }
                    }
                });
                this.input.keyboard.on('keydown_DOWN', function () {
                    if(camera.scrollX == 450){
                        if(camera.scrollY != 0){
                            camera.pan(850, 1500, 2000, 'Power2');
                        } else {
                            camera.pan(850, 750, 2000, 'Power2');
                        }
                    }
                });
                this.input.keyboard.on('keydown_RIGHT', function () {
                    if(camera.scrollY == 450){
                        if(camera.scrollX != 0){
                            camera.pan(1500, 750, 2000, 'Power2');
                        } else {
                            camera.pan(850, 750, 2000, 'Power2');
                        }
                    }
                });
            }

            function update(time, delta) {
            }
        </script>
    </section>

</body>
</html>